<div id="page-wrapper">
    <!-- .container -->
    <div id="page-container" class="container-fluid">

    <div id="page-row" class="row mt-4">
        <div id="flaskcode-list" class="col-3">
            <!-- <h4 style="white-space:nowrap;"><i class="fa fa-folder" aria-hidden="true"></i> {{ dirname|truncate(20) }}</h4> -->
            <div class="list-header p-2"><i class="fa fa-folder" aria-hidden="true"></i> File Tree</div>
            <div class="list-container">
                {{ render_dir_tree(dtree, 'dir-tree', data_url) }}
            </div>
        </div>
        <div id="flaskcode-content " class="col-9">

            <div class="card h-50">
                <div class="card-header p-1">

                        <div class="btn-toolbar justify-content-between " role="toolbar" aria-label="Toolbar with button groups">
                            <div id="resource-info" class="btn-groupEdit mt-2 mr-2" role="group" aria-label="First group">
                                <span>Editing: </span><span id="resource-name" title=""></span>
                                <i id="resource-mod" class="text-danger fad fa-asterisk" aria-hidden="true" style="display:none;"></i>
                            </div>

                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="javascript:void(0);" class="btn header-actions" data-action-id="save" title="Save"><i class="fad fa-save"></i></i> Save</a>
                                <a href="javascript:void(0);" class="btn header-actions" data-action-id="reload" title="Reload"><i class="fad fa-retweet-alt"></i> Refresh</a>
                                <a href="javascript:void(0);" class="btn header-actions" data-action-id="force-reload" title="Force Reload"><i class="fa fa-retweet" aria-hidden="true"> Reset</i></a>
                                <a href="javascript:void(0);" class="btn" id="toggle-minimap" title="Toggle Minimap"><i class="fad fa-th-list"></i></a>
                            </div>
                          </div>

                  </div>
            <!-- Editor Widget -->
            <div id="editor-container" class="editor-container{% if editor_theme == 'vs' %} light-theme{% endif %}">
                <div class="editor-preloader" style="display:none;">
                    <div class="loading-center">
                        <div class="loading-center-absolute">Requesting...</div>
                    </div>
                </div>
                <div class="editor-notification text-center"></div>
                <div class="editor-body">
                    <div class="editor-body-msg">
                        <h2 class="text-center text-info">Select a file to edit.</h2>
                    </div>
                </div>
            </div>
            <div class="card-footer p-1">
                    <strong><i class="fal fa-code"></i> {{ app_title }}</strong>
                    <span class="hidden-xs">[ <i class="fad fa-folder-open"></i> {{ dirname }} ]</span>
                    <span class="float-right">
                        <span id="editor_lang" title="Detected Language"></span>&nbsp;&nbsp;&nbsp;Ln&nbsp;<span id="line_num"></span>,&nbsp;Col&nbsp;<span id="column_num"></span>
                    </span>
              </div>

            </div>




            <!-- /Editor Widget -->
        </div>

    </div>


    <!-- /page-content -->
</div>
<!-- /.container -->
</div>


<div id="page-preloader" class="page-preloader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
            <br />
            <small><em>. . . Loading . . . </em></small>
        </div>
    </div>
</div>

<!--Modals-->
<div id="fileNameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <form id="fileNameForm" method="post">
      <div class="modal-content">
        <div class="modal-body">
            <input type="hidden" id="base_url" name="base_url" value="" />
            <input type="hidden" id="base_path_name" name="base_path_name" value="" />
            <label for="new_filename">New File:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text base-path-name" id="basic-addon3">/</span>
                </div>
                <input type="text" class="form-control" id="new_filename" name="new_filename" placeholder="New File Name" required />
            </div>
        </div>
        <div class="modal-footer p-0">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-success" data-loading-text="Loading...">Create</button>
        </div>
      </div>
    </form>
    </div>
  </div>


<!--/Modals-->


{% block page_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('flaskcode.static', filename='vendor/jquery-contextMenu/jquery.contextMenu.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('flaskcode.static', filename='vendor/treed/treed.css') }}" />


{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{{ url_for('flaskcode.static', filename='vendor/jquery-contextMenu/jquery.contextMenu.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('flaskcode.static', filename='vendor/monaco-editor/min/vs/loader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('flaskcode.static', filename='vendor/treed/treed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('flaskcode.static', filename='js/objects.js') }}"></script>
<script type="text/javascript">


flaskcode.config.set('pluginsBaseUrl', "{{ url_for('flaskcode.static', filename='vendor') }}");
flaskcode.config.set('updateResourceBaseUrl', "{{ url_for(data_url+'.update_resource_data', object_id=object_id,  file_path='') }}");
flaskcode.config.set('resourceUrlTemplate', "{{ url_for(data_url+'.resource_data', object_id=object_id, file_path='__pathname__') }}");
flaskcode.config.set('editorTheme', "{{ editor_theme }}");

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flaskcode.js') }}"></script>
<script>
    // We need to add some custom extensions. Once the languages have loaded push our supported in
    var addExtensions = setInterval(function() {
    if (flaskcode.languages.length > 0) { 
       flaskcode.languages.find(x => x.id === 'yaml').extensions.push('.sls');
       flaskcode.languages.find(x => x.id === 'shell').extensions.push('.cfg');
       clearInterval(addExtensions);
    }
    }, 100);


    $( "#update-btn" ).click(function() {
        flaskcode.saveResourceState();
        $.post( window.location+"../update/", $( "#update_details" ).serialize() )
            .done(function( data ) {
            console.log(data);
            if(data['success']){
                alert_notify('alert-success', 'Success!', 'All fields updated' )
            } else {
                alert_notify('alert-danger', 'Opps!', 'Something went wrong!' )
            }
        })
        .fail(function() {
            alert_notify('alert-danger', 'Opps!', 'Something went wrong!' )
        });

    });

</script>

{% endblock %}