{% extends "base.html" %}
{% set active_page = "events" %}
{% set page_title = " - Events" %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/asciinema-player.css') }}" />

{% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="text-warning">Events</h4>
          <table id="eventstream" class="table table-bordered table-sm table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th scope="col">DTG</th>
                <th scope="col">Source IP</th>
                <th scope="col">Service</th>
                <th scope="col">Port</th>
                <th scope="col">Honeypot</th>
                <th scope="col">Honeypot Instance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>







    </div>
  </div>

  <script>
    let notificationCount = 0;

    function load_modal(event_id) {
      console.log("Playback: ", event_id)
      $('#player').html(`<asciinema-player id="player" theme="solarized-dark" src="/events/playback/${event_id}"></asciinema-player>`)
      $('#playbackModalCenter').modal('show')
    }


    function cowrie_playback(data, event_id, session_length) {

      if (data == "Cowrie") {

        console.log(session_length)

        if (session_length > 1000) {
          let html = `<span>${data}</span><span><i class="ml-2 fa-1.5x fad fa-play" onclick="load_modal('${event_id}')"></i>
          </span>`
          return html
        } else {
          return data
        }
      } else {
        return data
      }
    }


    $(document).ready(function () {
      var table = $('#eventstream').DataTable({
        "searchDelay": 1000,
        "pageLength": 25,
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "/events/paginate",
          "type": "POST"
        },
        "columns": [
          {
            "className": 'details-control',
            "orderable": false,
            "data": null,
            "defaultContent": ''
          },
          { "data": "dtg" },
          { "data": "source_ip" },
          { "data": "service" },
          { "data": "port" },
          {
            "data": "honeypot_type",
            "render": function (data, type, row, meta) {
              return cowrie_playback(data, row['DT_RowId'], row['session_length'])
            }
          },
          { "data": "honeypot_instance_id" },
        ]
      });

      // Add event listener for opening and closing details
      $('#eventstream tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child(format(tr.attr('id'))).show();
          tr.addClass('shown');
        }
      });

    });

    function format(event_id) {
      var div = $('<div/>')
        .addClass('loading')
        .text('Loading...');

      $.ajax({
        url: "/events/payload/" + event_id,
        type: 'POST',
        data: {
          event_id: event_id
        },
        dataType: 'json',
        success: function (json) {
          console.log(json.payload);
          div
            .html('<pre>' + JSON.stringify(json.payload, undefined, 4) + '</pre>')
            .removeClass('loading');
        }
      });

      return div;
    };

  </script>


</div>


<!-- Modal -->
<div class="modal fade" id="playbackModalCenter" tabindex="-1" role="dialog" aria-labelledby="playbackModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h5 class="modal-title text-center" id="playbackModalLongTitle">SSH Playback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="player">
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/asciinema-player.js') }}"></script>
{% endblock %}