{% extends "base.html" %}
{% set active_page = "admin" %}
{% set page_title = " - Admin" %}
{% block content %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="text-warning">User Accounts</h4>
          <table class="table table-bordered table-sm table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Active</th>
                <th scope="col">Roles</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr id="row-{{user['id']}}">
                <th scope="row"><input name="name" type="text" class="form-control" value="{{user['name']}}"></th>
                <td><input name="email" type="text" class="form-control" value="{{user['email']}}"></td>
                <td><input name="password" type="password" class="form-control" placeholder="********"></td>
                <td>

                  <div class="form-check">
                    <div class="custom-control custom-checkbox">
                      <input name="active" type="checkbox" class="custom-control-input text-center mx-auto my-auto" id="check-{{user['id']}}"
                        {% if user['active'] %}checked {% endif %}>
                      <label class="custom-control-label" for="check-{{user['id']}}"></label>
                    </div>
                  </div>


                </td>
                <td>
                  <select name="roles" multiple class="form-control" id="user_roles">
                    {% for role in roles %}
                    <option value="{{role['id']}}"
                      {% if role['name'] in user['roles']|userroles %}selected{% endif %}>{{role['name']}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="text-right">
                  <span>
                    <button class="btn btn-info" onclick="update_object('update', '{{user['id']}}', '/admin/users/')">Update</button> 
                    <button class="btn btn-danger ml-2" onclick="update_object('delete', '{{user['id']}}', '/admin/users/')">Delete</button></span>
                </td>
              </tr>
              {% endfor %}
              <tr id="row-newuser">
                <th scope="row"><input name="name" type="text" class="form-control" placeholder="Username"></th>
                <td><input name="email" type="text" class="form-control" value="" placeholder="user@domain.com"></td>
                <td><input type="password" class="form-control" placeholder="********"></td>
                <td>

                  <div class="form-check">
                    <div class="custom-control custom-checkbox">
                      <input name="active" type="checkbox" class="custom-control-input text-center mx-auto my-auto" id="customCheck1"
                        checked>
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                  </div>


                </td>
                <td>
                  <select name="roles" multiple class="form-control" id="user_roles">
                    {% for role in roles %}
                    <option value="{{role['id']}}">{{role['name']}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="text-right">
                  <input type="hidden" name="newuser" value="true">
                  <button class="btn btn-success" onclick="update_object('update', 'newuser', '/admin/users/')">New User</button> 

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-warning">Roles</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Actions</th>

                </tr>
              </thead>
              <tbody>
                {% for role in roles %}
                <tr id="row-{{role['id']}}">
                  <th scope="row">{{role['name']}}</th>
                  <td>{{role['description']}}</td>
                  <td class="text-right">
                    <span><button class="btn btn-info" onclick="console.log('save')">Update</button> <button
                        class="btn btn-danger ml-2" onclick="console.log('save')">Delete</button></span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <h4 class="text-warning">HPFeeds Auth Keys</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Identifier</th>
                  <th scope="col">Secret</th>
                  <th scope="col">Publish</th>
                  <th scope="col">Subscribe</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for key in auth_keys %}
                <tr id="row-{{key['id']}}">
                  <td><input type="text" name="identifier" class="form-control" value="{{key['identifier']}}"></td>
                  <td><input type="text" name="secret" class="form-control" value="{{key['secret']}}"></td>
                  <td><input type="text" name="publish" class="form-control" value="{{ ','.join(key['publish']) }}">
                  </td>
                  <th><input type="text" name="subscribe" class="form-control" value="{{ ','.join(key['subscribe']) }}">
                    </td>
                  <td class="text-right">
                    <span><button class="btn btn-info"
                        onclick="update_object('update', '{{key['id']}}', '/admin/keys/')">Update</button> <button
                        class="btn btn-danger ml-2"
                        onclick="update_object('delete', '{{key['id']}}', '/admin/keys/')">Delete</button></span>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

  <script>
    $('select').selectpicker();

    function update_object(action, object_id, post_url) {
      console.log(action, object_id)

      let post_data = { 'action': action, 'object_id': object_id };

      // If update get all the elements
      if (action == "update") {
        $('#row-' + object_id).find('input, select, textarea').each(function () {
          if ($(this).attr('name') == 'active') {
            post_data['active'] = $(this).is(":checked")
          } else {
            post_data[$(this).attr('name')] = $(this).val()
          }
          
        });
      }

      $.post(post_url, post_data)
        .done(function (data) {
          if (data['success']) {
            // Add notification
            alert_notify('alert-success', 'Success!', data['message'])

          } else {
            alert_notify('alert-danger', 'Opps!', data['message'])
          }

          if (action == "delete") {
            $('#row-' + object_id).remove();
          }

        })
        .fail(function () {
          alert_notify('alert-danger', 'Opps!', "Something went wrong please check the logs")
        });


    }
  </script>


</div>



{% endblock %}