{% extends "base.html" %}
{% set active_page = "dashboard" %}
{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>


<div class="card text-white bg-danger mt-5 container" >
  <div class="card-header">Disclaimer</div>
  <div class="card-body">
    <h5 class="card-title">Full Remote Code Execution to ALL Hives</h5>
    <p class="card-text">By design this application has full remote code execution via the Minions on every hive. Using the honepot states you can set any configuration, install any software. So please make sure you have properly protected access to this platform.  </p>
    <p class="card-text">I will at some point, assuming anyone uses this platform,  introduce some better user management / groups / 2fa and other mitigations. </p>
  </div>
</div>
{% endblock %}