{% extends "base.html" %}
{% set active_page = "events" %}
{% set page_title = " - Events" %}
{% block content %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="text-warning">Events</h4>
          <table id="eventstream" class="table table-bordered table-sm table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th scope="col">DTG</th>
                <th scope="col">Source IP</th>
                <th scope="col">Service</th>
                <th scope="col">Port</th>
                <th scope="col">Honeypot</th>
                <th scope="col">Honeypot Instance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>







    </div>
  </div>

  <script>
    let notificationCount = 0;

    $(document).ready(function () {
      var table = $('#eventstream').DataTable({
        "pageLength": 25,
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "/events/paginate",
          "type": "POST"
        },
        "columns": [
          {
            "className": 'details-control',
            "orderable": false,
            "data": null,
            "defaultContent": ''
          },
          { "data": "dtg" },
          { "data": "source_ip" },
          { "data": "service" },
          { "data": "port" },
          { "data": "honeypot_type" },
          { "data": "honeypot_instance_id" },
        ]
      });

      // Add event listener for opening and closing details
      $('#eventstream tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child(format(tr.attr('id'))).show();
          tr.addClass('shown');
        }
      });

    });

    function format(event_id) {
      var div = $('<div/>')
        .addClass('loading')
        .text('Loading...');

      $.ajax({
        url: "/events/payload/" + event_id,
        type: 'POST',
        data: {
          event_id: event_id
        },
        dataType: 'json',
        success: function (json) {
          console.log(json.payload);
          div
            .html('<pre>'+JSON.stringify(json.payload, undefined, 4)+'</pre>')
            .removeClass('loading');
        }
      });

      return div;
    };

  </script>


</div>

{% endblock %}