{% extends "base.html" %}
{% set active_page = "hives" %}
{% set page_title = " - Hives" %}
{% block content %}
<!--  This is a list of all the hives that have or tried to register with salt. -->

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h4 class="text-success">Registered Hives</h4>
          <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Hive Name</th>
                <th scope="col">OS</th>
                <th scope="col">IP Address</th>
                <th scope="col">Created</th>
                <th scope="col">Last Seen</th>
                <th scope="col">Frame</th>
                <th scope="col">Honeypot / Event Count</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for hive in hive_list %}
              {% if hive['salt_alive']  %}
              <tr id="row-{{hive['id']}}">
                <th scope="row">{{hive['name']}}</th>
                <td>{{hive['grains']['osfullname']}}</td>
                <td>{{hive['grains']['ipv4'][-1]}}</td>
                <td>{{hive['created_at'] | dateformat}}</td>
                <td>{{hive['last_seen'] | dateformat}}</td>
                <td>{{hive['frame']['name'] or '<a href="/frames">Show Frames</a>' | safe}}</td>
                <td>{{hive['honeypots'] | length}} / {{hive.event_count}}</td>
                <td>
                  <select class="form-control hive_action" id="regActions" data-hiveId="{{hive['id']}}">
                    <option value="select">Select</option>
                    <option value="poll">Poll</option>
                    <option value="edit">Edit</option>
                    <option value="restart">Restart</option>
                    <option value="delete">Delete</option>

                    {% if not hive['frame'] %}

                      {% for frame in frame_list %}
                        {% if hive['grains']['osfullname'] in frame['supported_os'] %}
                        <option value="frame" data-frame_id="{{frame.id}}" data-frame_state="frames/{{frame.id}}/{{frame.frame_state_path}}">Install {{frame.name}} Frame</option>
                        {% endif %}
                      {% endfor %}

                    {% endif %}



                  </select>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-warning">Unregsistered Hives</h4>
          <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col-6">Hive ID</th>
                <th scope="col-6">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for hive in hive_list %}
              {% if not hive['registered'] %}
              <tr id="row-{{hive['id']}}">
                <th scope="row">{{hive['id']}}</th>
                <td>
                  <select class="form-control hive_action" id="unregActions" data-hiveId="{{hive['id']}}">
                    <option value="select">Select</option>
                    {% if hive['id'] | string in key_list %}
                    <option value="swarm">Add to Swarm</option>
                    {% endif %}
                    <option value="delete">Delete</option>
                  </select>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-danger">Unresponsive Hives</h4>
          <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Hive ID</th>
                <th scope="col">OS</th>
                <th scope="col">IP Address</th>
                <th scope="col">Created</th>
                <th scope="col">Last Seen</th>
                <th scope="col">Frame</th>
                <th scope="col">Honeypot Count</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for hive in hive_list %}
              {% if not hive['salt_alive'] and hive['id'] | string not in key_list %}
              <tr id="row-{{hive['id']}}">
                <th scope="row">{{hive['id']}}</th>
                <td>{{hive['grains']['osfullname']}}</td>
                <td>{{hive['grains']['ipv4'][-1]}}</td>
                <td>{{hive['created_at'] | dateformat}}</td>
                <td>{{hive['last_seen'] | dateformat}}</td>
                <td>{{hive['frame']['name'] or 'No Frame' | safe}}</td>
                <td>{{hive['honeypots'] | length}}</td>
                <td>
                  <select class="form-control hive_action" id="regActions" data-hiveId="{{hive['id']}}">
                    <option value="select">Select</option>
                    <option value="poll">Poll</option>
                    <option value="edit">Edit</option>
                    <option value="restart">Restart</option>
                    <option value="delete">Delete</option>
                  </select>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <div class="col-4">
      <div class="card p-2">
        <h4>What is a Hive?</h4>
        <p>A Hive is a host device that is capable of running one or more honeypots. A hive can be a virtual machine a physical macine or an Amazon instance.</p>
        <h4>hive requirements</h4>
        <ul >
          <li>Can connect to the internet</li>
          <li>Can connect to HoneySwarm</li>
          <li>Able to run docker images</li>
          <li>Supports Python >=3</li>
        </ul>
        <h4>Initialise a hive</h4>
        <p>The first step is to initialise the Hive Host. We do this by installing a Salt Minion with some custom parameters. You can use the follwing examples to init a Linux or Windows Host</p>
        <p><code>curl -H "Authorization: {{honeyswarm_api}}" {{ url_for('hives.hives_register', operating_system="linux", _external=True) }} | sudo sh</code></p>
  
        <p><code>
          powershell -nop -c "Invoke-Expression -Command (Invoke-WebRequest -Headers @{'Authorization'='{{honeyswarm_api}}'} -Uri '{{ url_for('hives.hives_register', operating_system="windows", _external=True) }}' -UseBasicParsing).Content"
        </code></p>


        <p>This should install the base and register the hive with HoneySwarm. The next step is to approve the registration</p>

        <h4>Add hive to swarm</h4>
        <p>Once a Hive has been initialised we need to approve it in to the swarm. This prevents rogue hosts from connecting to us. You will only see the dropdown action once the Minion has started and sent its key to the master.</p>
        <p>Once availiable Just select the 'Add to swarm' action from the dropdown</p>
  
        <h4>Adding Frames</h4>
        <p>At the moment there is only support for a single frame per hive. A frame is a configuration that can run a specific honeypot. For example the Cowrie honeypot needs a docker frame. So you will need to first add a Docker Frame for your supported OS.</p>

        <h4>Install a honeypot</h4>
        <p>Once a hive is added to the swarm and has a frame installed you can finally add a honeypot by heading to the honeypots page and selecting deploy</p>
        <p>There may be some quick actions you can take to install a honeypot depending on frame. </p>
  
      </div>
    </div>
  </div>

<script>

let notificationCount = 0;

$( ".hive_action" ).change(function() {
  let hive_id = this.getAttribute("data-hiveId");
  let hive_action = this.value;
  let post_params = { hive_id: hive_id };
  let post_url = "/hives/actions/"+hive_action;


  // Ignore select
  if (hive_action == "select"){
    return;
  }

  alert_notify('alert-success', 'Running', hive_action + " for Hive " + hive_id );


  if (hive_action == "frame"){
    frame_state_path = $(this).find(':selected').data('frame_state');
    frame_id = $(this).find(':selected').data('frame_id');
    post_params['frame_state_file'] = frame_state_path;
    post_params['frame_id'] = frame_id;
  }

  
  $.post( post_url, post_params)
  .done(function( data ) {
    console.log( "Data Loaded: " + data );
    if (data['success']){

      // Add notification
      alert_notify('alert-success', 'Success!', data['message'] )

      // Handle some other actions
      if (hive_action == "delete"){
        // remove the newly deleted row
        $('#row-'+hive_id).remove();
        }



    } else {
      alert_notify('alert-danger', 'Opps!', data['message'] )
    }



  })
  .fail(function() {
    alert_notify('alert-danger', 'Opps!', "Something went wrong please check the logs" )
  });


  // reset the dropdown
  $(this).val('select')

  });


function add_notification(textClass, text){
  notificationCount ++;
  let notification = `<a class="dropdown-item ${textClass}" href="#">${text}</a>`;
  $('#notification-dropdown').append(notification);
  $('#notification-count').html(notificationCount);
}



</script>

<!-- Add Frame Modal -->
<div class="modal fade" id="frameModal" tabindex="-1" role="dialog" aria-labelledby="frameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="frameModalLabel">Install a Frame</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



</div>

{% endblock %}