{% extends "base.html" %}
{% set active_page = "honeypots" %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col mt-2">
            <h3>Honeypots <span><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createHoneyModal"><i class="fa fa-plus"></i> New Honeypot</button></span></h3> 
              
        </div>
    </div>
    
    {% for honeypot in honey_list %}
    <div class="row">
        <div class="col mt-3">
            <div class="card">
                <div class="card-body">
    
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">{{honeypot.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{honeypot.honey_type}}</h6>
                            <p class="card-text">{{honeypot.description}}</p>
                        </div>
                        <div class="col-4">
                            <h5 class="card-title">Actions</h5>
                            <a href="{{ url_for('honeypots.honeypot_deployments', honeypot_id=honeypot.id) }}" class="btn btn-success btn-block" role="button" aria-pressed="true">Deployment</a>
                            <a href="{{ url_for('honeypots.show_honeypot', honeypot_id=honeypot.id) }}" class="btn btn-primary btn-block" role="button" aria-pressed="true">Edit</a>
                            <a href="#" class="btn btn-danger btn-block" role="button" aria-pressed="true">Delete</a>
                        </div>
                    </div>

                </div>
              </div>
        </div>
    </div>
    {% endfor %}
</div>


<div id="createHoneyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <form id="fileNameForm" method="post" action="{{ url_for('honeypots.create_honeypot') }}">
      <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <label for="honeypot_name">Name</label>
                <input type="text" class="form-control" id="honeypot_name" name="honeypot_name"
                    value="">
            </div>
            <div class="form-group">
                <label for="honeypot_type">Type</label>
                <input type="text" class="form-control" id="honeypot_type" name="honeypot_type"
                    value="">
            </div>
            <div class="form-group">
                <label for="honeypot_description">Description</label>
                <textarea class="form-control" id="honeypot_description" name="honeypot_description"
                    rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="honeypot_state_file">State File</label>
                <input type="text" class="form-control" id="honeypot_state_file" name="honeypot_state_file"
                    value="">
            </div>
            <div class="form-group">
                <label for="honeypot_channels">HPFeeds Channels</label>
                <textarea class="form-control" id="honeypot_channels" name="honeypot_channels"
                    rows="3" placeholder="enter each hpfeeds channels on a new line"></textarea>
            </div>
        </div>
        <div class="modal-footer p-0">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-success" data-loading-text="Loading...">Create</button>
        </div>
      </div>
    </form>
    </div>
  </div>


{% endblock %}