{% extends "base.html" %}
{% set active_page = "jobs" %}
{% block content %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h4 class="text-warning">Pending Jobs</h4>
          <table class="table table-bordered table-sm table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Hive ID</th>
                <th scope="col">Job Short</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for job in job_list %}
              {% if not job['complete']  %}
              <tr id="row-{{job['hive']['id']}}">
                <th scope="row">{{job['hive']['id']}}</th>
                <td>{{job['job_short']}}</td>
                <td>{{job['created_at'] | dateformat}}</td>
                <td>
                  <select class="form-control job_action" id="regActions" data-jobId="{{job['id']}}">
                    <option value="select">Select</option>
                    <option value="poll">Poll</option>
                    <option value="restart">Restart</option>
                    <option value="delete">Delete</option>
                  </select>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <h4 class="text-success">Completed Jobs</h4>
          <table class="table table-bordered table-sm table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Hive ID</th>
                <th scope="col">Job Short</th>
                <th scope="col">Created At</th>
                <th scope="col">Completed At</th>
                <th scope="col">Response</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for job in job_list %}
              {% if job['complete']  %}
              <tr id="row-{{job['hive']['id']}}">
                <th scope="row">{{job['hive']['id']}}</th>
                <td>{{job['job_short']}}</td>
                <td>{{job['created_at'] | dateformat}}</td>
                <td>{{job['completed_at'] | dateformat}}</td>
                <td>{{job['job_response'][:20]}}</td>
                <td>
                  <select class="form-control job_action" id="regActions" data-jobId="{{job['id']}}">
                    <option value="select">Select</option>
                    <option value="delete">Delete</option>
                  </select>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <div class="col-4">
      <div class="card p-2">
        <h4>Jobs</h4>
        <p>Jobs are checked every minute to see if they have completed yet.</p>
        <p>You can manually trigger a job check using the actions menu</p>

      </div>
    </div>
  </div>

<script>

let notificationCount = 0;

$( ".hive_action" ).change(function() {
  let hive_id = this.getAttribute("data-hiveId");
  let hive_action = this.value;
  console.log(this)


  // Ignore select
  if (hive_action == "select"){
    return
  }

  console.log("Running action "+ hive_action + " for Hive " + hive_id);

  let post_params = { hive_id: hive_id };
  let post_url = "/hives/actions/"+hive_action;

  $.post( post_url, post_params)
  .done(function( data ) {
    console.log( "Data Loaded: " + data );
    if (data['success']){

      // Add notification
      add_notification("text-success", data['message'])

      // Handle some other actions
      if (hive_action == "delete"){
        // remove the newly deleted row
        $('#row-'+hive_id).remove()
        }



    } else {
      add_notification("text-danger", data['message'])
    }



  })
  .fail(function() {
    add_notification("text-danger", "Something went wrong")
  });


  // reset the dropdown
  $(this).val('select')

  });


function add_notification(textClass, text){
  notificationCount ++;
  let notification = `<a class="dropdown-item ${textClass}" href="#">${text}</a>`;
  $('#notification-dropdown').append(notification);
  $('#notification-count').html(notificationCount);
}



</script>


</div>

{% endblock %}