flask
flask-login
mongoengine
flask-mongoengine
flask-security-too
distro
flask
pytz
flaskcode
APScheduler

# Use my hpfeeds till its is merged upstream
git+git://github.com/kevthehermit/hpfeeds.git@mongo-auth#egg=hpfeeds
