{% extends "base.html" %}
{% set active_page = "jobs" %}
{% set page_title = " - Jobs" %}
{% block content %}

      <div class="row">
        <div class="col">
          <h4 class="text-success">All Jobs</h4>
          <div class="table-responsive">
            <table id="jobs_table" class="table table-bordered table-sm table-striped">
              <thead class="thead-dark">
                  <tr>
                    <th></th>
                    <th scope="col">Hive Name</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Job Short</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Completed At</th>
                    <th score="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>

<script>

let notificationCount = 0;

$( ".job_action" ).change(function() {
  let hive_id = this.getAttribute("data-jobId");
  let hive_action = this.value;
  console.log(this)


  // Ignore select
  if (hive_action == "select"){
    return
  }

  console.log("Running action "+ hive_action + " for Hive " + hive_id);


  let post_params = { hive_id: hive_id };
  let post_url = "/hives/actions/"+hive_action;

  $.post( post_url, post_params)
  .done(function( data ) {
    console.log( "Data Loaded: " + data );
    if (data['success']){

      // Add notification
      alert_notify('alert-success', 'Job Updated', 'Job ID: '+data['message'] )
      if (data['job_complete']){
        location.reload();
      }

    } else {
      alert_notify('alert-danger', 'Error', data['message'] )
    }



  })
  .fail(function() {
    alert_notify('alert-danger', 'Error', 'Something went wrong' )
  });


  // reset the dropdown
  $(this).val('select')

  });


function add_notification(textClass, text){
  notificationCount ++;
  let notification = `<a class="dropdown-item ${textClass}" href="#">${text}</a>`;
  $('#notification-dropdown').append(notification);
  $('#notification-count').html(notificationCount);
}

</script>


<script>

$('#jobs_table').on('click', 'button.job-btn', function (e) {

var button = $(this)
var action = button.data('action')
var hive_id = button.data('hiveid')
var instance_id = button.data('jobid')

post_data = {
    "action": action,
    "hive_id": hive_id,
    "instance_id": instance_id
}
    alert_notify('alert-info', 'Submitted!', 'Deployment Requested' )
    $.post( '/jobs/control/', post_data )
        .done(function( data ) {
        if(data['success']){
            alert_notify('alert-success','', data['message'] )
            // API call to update table in here. 
        } else {
            alert_notify('alert-danger', 'Opps!', data['message'] )
        }
    });

  });



  $(document).ready(function () {
    var table = $('#jobs_table').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/jobs/paginate",
        "type": "POST"
      },
      "columns": [
        {
          "className": 'details-control',
          "orderable": false,
          "data": null,
          "defaultContent": ''
        },
        { "data": "hive_id"},
        { "data": "job_type"},
        { "data": "job_short" },
        { "data": "created_at" },
        { "data": "completed_at" },
        {
            "orderable": false,
            "data": "job_id",
            "render": function (data) {
              return `<button class="btn btn-sm btn-danger job-btn" data-action="delete" data-jobid="${data}">Delete</button>`
            }
          }
      ]
    });

    // Add event listener for opening and closing details
    $('#jobs_table tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);

      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child(format(tr.attr('id'))).show();
        tr.addClass('shown');
      }
    });


    setInterval( function () {
          table.ajax.reload( null, false );
      }, 30000 );


  });

  function format(event_id) {
    var div = $('<div/>')
      .addClass('loading')
      .text('Loading...');

    $.ajax({
      url: "/jobs/payload/" + event_id,
      type: 'POST',
      data: {
        event_id: event_id
      },
      dataType: 'json',
      success: function (json) {
        console.log(json.payload);
        div
          .html('<pre>'+json.payload+'</pre>')
          .removeClass('loading');
      }
    });

    return div;
  };

</script>



</div>

{% endblock %}