{% extends "base.html" %}
{% set active_page = "jobs" %}
{% set page_title = " - Jobs" %}
{% block content %}


      <div class="row">
        <div class="col">
          <h4 class="text-warning">Pending Jobs</h4>
          <table class="table table-bordered table-sm table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Hive Name</th>
                <th scope="col">Job Type</th>
                <th scope="col">Job Short</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for job in job_list %}
              {% if not job['complete']  %}
              <tr id="row-{{job['hive']['id']}}">
                <th scope="row">{{job['hive']['name']}}</th>
                <td>{{job['job_type']}}</td>
                <td>{{job['job_short']}}</td>
                <td>{{job['created_at'] | dateformat}}</td>
                <td>
                  <span>
                    <button class="btn btn-sm btn-info job-btn" data-action="poll" data-jobid="{{job['id']}}">Poll</button> 
                    <button class="btn btn-sm btn-danger job-btn" data-action="delete" data-jobid="{{job['id']}}">Delete</button>
                  </span>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <h4 class="text-success">Completed Jobs</h4>
          <div class="table-responsive">
            <table id="jobs_table" class="table table-bordered table-sm table-striped">
              <thead class="thead-dark">
                  <tr>
                    <th></th>
                    <th scope="col">Hive Name</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Job Short</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Completed At</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>

<script>

setTimeout(function() {
  location.reload();
}, 60000);


let notificationCount = 0;

$( ".job_action" ).change(function() {
  let hive_id = this.getAttribute("data-jobId");
  let hive_action = this.value;
  console.log(this)


  // Ignore select
  if (hive_action == "select"){
    return
  }

  console.log("Running action "+ hive_action + " for Hive " + hive_id);


  let post_params = { hive_id: hive_id };
  let post_url = "/hives/actions/"+hive_action;

  $.post( post_url, post_params)
  .done(function( data ) {
    console.log( "Data Loaded: " + data );
    if (data['success']){

      // Add notification
      alert_notify('alert-success', 'Job Updated', 'Job ID: '+data['message'] )
      if (data['job_complete']){
        location.reload();
      }

    } else {
      alert_notify('alert-danger', 'Error', data['message'] )
    }



  })
  .fail(function() {
    alert_notify('alert-danger', 'Error', 'Something went wrong' )
  });


  // reset the dropdown
  $(this).val('select')

  });


function add_notification(textClass, text){
  notificationCount ++;
  let notification = `<a class="dropdown-item ${textClass}" href="#">${text}</a>`;
  $('#notification-dropdown').append(notification);
  $('#notification-count').html(notificationCount);
}

</script>


<script>

  $(document).ready(function () {
    var table = $('#jobs_table').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/jobs/paginate",
        "type": "POST"
      },
      "columns": [
        {
          "className": 'details-control',
          "orderable": false,
          "data": null,
          "defaultContent": ''
        },
        { "data": "hive_id"},
        { "data": "job_type"},
        { "data": "job_short" },
        { "data": "created_at" },
        { "data": "completed_at" }
      ]
    });

    // Add event listener for opening and closing details
    $('#jobs_table tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);

      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child(format(tr.attr('id'))).show();
        tr.addClass('shown');
      }
    });

  });

  function format(event_id) {
    var div = $('<div/>')
      .addClass('loading')
      .text('Loading...');

    $.ajax({
      url: "/jobs/payload/" + event_id,
      type: 'POST',
      data: {
        event_id: event_id
      },
      dataType: 'json',
      success: function (json) {
        console.log(json.payload);
        div
          .html('<pre>'+json.payload+'</pre>')
          .removeClass('loading');
      }
    });

    return div;
  };

</script>



</div>

{% endblock %}