{% extends "base.html" %}
{% set active_page = "honeypots" %}
{% set page_title = " - Honeypots" %}
{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col mt-2">
            <h3>Honeypots </h3> 
              
        </div>
    </div>
    
<div class="row">
  <div class="col">
    <h4 class="text-warning">Existing Honeypots</h4>
    <table id="instances-table" class="table table-bordered table-sm table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Instance ID</th>
          <th scope="col">Hive Name</th>
          <th scope="col">Honeypot type</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row mt-5">
      <div class="col">
        <h4 class="text-warning mb-4">Available Honeypots <span><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createHoneyModal"><i class="fa fa-plus"></i> New Honeypot type</button></span></h4>
        

        <div class="card-columns">
            {% for honeypot in honey_list %}
                <div class="card">
                    <div class="card-body">
        
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{honeypot.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{honeypot.honey_type}}</h6>
                                <p class="card-text">{{honeypot.description}}</p>
                            </div>
                            <div class="col-4">
                                <h5 class="card-title">Actions</h5>
                                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#deploymentModal" data-honeypotid="{{honeypot.id}}" data-honeypotname="{{honeypot.name}}">
                                    Deploy
                                  </button>
                                  <a class="btn btn-primary btn-block" href="/report/default_report/?honeypot={{honeypot.name}}&tables={{honeypot.report_fields|join(',') }}&limit=10" target="_blank" role="button">Report</a>
                                <!-- <a href="{{ url_for('honeypots.honeypot_deployments', honeypot_id=honeypot.id) }}" class="btn btn-success btn-block" role="button" aria-pressed="true">Deploy</a> -->
                                <a href="{{ url_for('honeypots.show_honeypot', honeypot_id=honeypot.id) }}" class="btn btn-warning btn-block" role="button" aria-pressed="true">Edit</a>
                                <a href="{{ url_for('honeypots.delete_honeypot', honeypot_id=honeypot.id) }}" class="btn btn-danger btn-block" role="button" aria-pressed="true">Delete</a>
                            </div>
                        </div>
    
                    </div>
                  </div>
                  {% endfor %}
        </div>
        

      </div>
</div>



<div class="modal fade" id="createHoneyModal" tabindex="-1" role="dialog" aria-labelledby="createHoneyModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createHoneyModalTitle">Create a new Honeypot that can be deployed to hives</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



            <form id="fileNameForm" method="post" action="{{ url_for('honeypots.create_honeypot') }}">
                <div class="modal-content">
                  <div class="modal-body">
                      <div class="form-group">
                          <label for="honeypot_name">Name</label>
                          <input type="text" class="form-control" id="honeypot_name" name="honeypot_name"
                              value="" required>
                      </div>
                      <div class="form-group">
                          <label for="honeypot_type">Type</label>
                          <input type="text" class="form-control" id="honeypot_type" name="honeypot_type"
                              value="">
                      </div>
                      <div class="form-group">
                          <label for="honeypot_description">Description</label>
                          <textarea class="form-control" id="honeypot_description" name="honeypot_description"
                              rows="5"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="honeypot_state_file">State File</label>
                          <input type="text" class="form-control" id="honeypot_state_file" name="honeypot_state_file"
                              value="">
                      </div>
                      <div class="form-group">
                        <label for="honeypot_state_file">Container Name</label>
                        <input type="text" class="form-control" id="honeypot_container_name" name="honeypot_container_name"
                            value="">
                    </div>
                      <div class="form-group">
                          <label for="honeypot_channels">HPFeeds Channels</label>
                          <textarea class="form-control" id="honeypot_channels" name="honeypot_channels"
                              rows="3" placeholder="enter each hpfeeds channels on a new line"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="honeypot_channels">Report Fields</label>
                        <textarea class="form-control" id="honeypot_report_fields" name="honeypot_report_fields"
                            rows="3" placeholder="enter each hpfeeds channels on a new line"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer p-0">

                  </div>
                </div>
              



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-success" data-loading-text="Loading...">Create</button>
        </div>
    </form>
      </div>
    </div>
  </div>






  <div class="modal fade" id="deploymentModal" tabindex="-1" role="dialog" aria-labelledby="deploymentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deploymentModalTitle">Deploy this honeypot to an existing hive</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="deployment_form_target">
            </div>
        </div>
      </div>
    </div>
  </div>



<script>

$('#deploymentModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var honeypot_id = button.data('honeypotid')
    var honeypot_name = button.data('honeypotname')
    var post_url = `/honeypots/${honeypot_id}/deployments/`

    $.post( post_url, $( "#deployment_details" ).serialize() )
            .done(function( data ) {
            $('#deployment_form_target').html(data['modal_form'])
            $('.modal-title').html(`Deploy <strong>${honeypot_name}</strong> to an existing hive`)

        });


})

$('#instances-table').on('click', 'button.instance-btn', function (e) {

  var button = $(this)
  var action = button.data('action')
  var hive_id = button.data('hiveid')
  var instance_id = button.data('instanceid')

  post_data = {
      "action": action,
      "hive_id": hive_id,
      "instance_id": instance_id
  }
      alert_notify('alert-info', 'Submitted!', 'Deployment Requested' )
      $.post( '/honeypots/instance/control/', post_data )
          .done(function( data ) {
          if(data['success']){
              alert_notify('alert-success','', data['message'] )
              // API call to update table in here. 
          } else {
              alert_notify('alert-danger', 'Opps!', data['message'] )
          }
      });

    });



function update_object(action, object_id, post_url) {

      $.post(post_url, post_data)
        .done(function (data) {
          if (data['success']) {
            // Add notification
            alert_notify('alert-success', 'Success!', data['message'])

          } else {
            alert_notify('alert-danger', 'Opps!', data['message'])
          }

          if (action == "delete") {
            $('#row-' + object_id).remove();
          }

        })
        .fail(function () {
          alert_notify('alert-danger', 'Opps!', "Something went wrong please check the logs")
        });


    }


</script>



<script>

function instance_actions(data) {

  let html = `<a class="btn btn-sm btn-primary" href="/report/default_report/?honeypot=${data['honeypot_name']}&tables=${data['report_fields']}&limit=10" target="_blank" role="button">Report</a>
          <button class="btn btn-sm btn-info instance-btn" data-action="poll" data-instanceid="${data['instance_id']}">Poll</button>
          <button class="btn btn-sm btn-success instance-btn" data-action="start" data-instanceid="${data['instance_id']}">Start</button>
          <button class="btn btn-sm btn-warning instance-btn" data-action="stop" data-instanceid="${data['instance_id']}">Stop</button> 
          <button class="btn btn-sm btn-danger instance-btn" data-action="delete" data-instanceid="${data['instance_id']}">Delete</button>`
  return html
}

function status_text(data) {
  let text_value = data.charAt(0).toUpperCase() + data.slice(1)

  if (text_value === "Running") {
    text_class = "text-success"
  } else {
    text_class = "text-danger"
  }

  let html = `<span class="${text_class}">${text_value}</span>`

  return html
}


$(document).ready(function () {
  var table = $('#instances-table').DataTable({
        "searchDelay": 1000,
        "pageLength": 25,
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "/honeypots/paginate",
          "type": "POST"
        },
        "columns": [
          { "data": "instance_id" },
          { "data": "hive_name" },
          { "data": "honeypot_type" },
          {
            "data": "status",
            "render": function (data) {
              return status_text(data)
            }
           },
          {
            "orderable": false,
            "data": "actions",
            "render": function (data) {
              return instance_actions(data)
            }
          }
        ]
      });

      setInterval( function () {
          table.ajax.reload( null, false );
      }, 30000 );

});



</script>


{% endblock %}