<form id="deployment_details">

    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Hive</label>
      <select name="target_hive" class="form-control" id="exampleFormControlSelect1">

        <option value="select">Select...</option>
        {% for hive in all_hives %}
        <option value="{{hive['id']}}">{{hive.name}}</option>
        {% endfor %}
      </select>
    </div>


    <div id="pillar-states" class="form-group">
        <label for="pillar-states">Pillar Values</label>
        <p>Pillar values can be used to customise certain aspects of your honeypot please refer to the Honeypot editor page for details on each of these options</p>

        {% for pillar in honeypot_details.pillar %}
        <div class="form-row mb-2">
            <div class="col">
                <input type="text" class="form-control" name="pillar-key-{{loop.index}}"
                    value="{{pillar[0]}}" readonly>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="pillar-value-{{loop.index}}"
                    value="{{pillar[1]}}">
            </div>
        </div>
        {% endfor %}
    </div>
</form>
<button id="deploy-btn" class="btn btn-success btn-block" >Deploy</button>
<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>

<script>

$( "#deploy-btn" ).click(function() {
    var post_url = '/honeypots/{{honeypot_details.id}}/deploy/'
        alert_notify('alert-info', 'Submitted!', 'Deployment Requested' )
        $.post( post_url, $( "#deployment_details" ).serialize() )
            .done(function( data ) {
            console.log(data);
            if(data['success']){
                alert_notify('alert-success', 'Job Running', 'Job ID: '+data['message'] )
            } else {
                alert_notify('alert-danger', 'Opps!', data['message'] )
            }
        });

    });

</script>